.chat-main
  .chat-main__group-info
    .chat-main__group-info__to
      .chat-main__group-info__to__info
        .chat-main__group-info__to__info__name
          name
        .chat-main__group-info__to__info__member
          member
      = link_to "#", class: "chat-main__group-info__to__edit-btn" do
        Edit
  .chat-main__message-list
    = render @messages  #単数形の部分テンプレートと同じため省略形
  .chat-main__message-form
    .chat-main__message-form__box
      .chat-main__message-form__box__p
        %input.chat-main__message-form__box__p__text{placeholder: "type a message"}
          %label{class:"chat-main__message-form__box__p__text__label"}
            =icon('fas','image')
            %input{class:"chat-main__message-form__box__p__text__label__file",type: "file"}
      = link_to "#", class: "chat-main__message-form__box__btn" do
        Send

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

  -# 統合しなきゃいけん
