.chat-main
  .chat-main__group-info
    .chat-main__group-info__info
      .chat-main__group-info__info__name
        name
      .chat-main__group-info__info__member
        member
    = link_to edit_group_path(@group), class: "chat-main__group-info__edit-btn" do
      Edit
  .chat-main__message-list
    = render @messages  #単数形の部分テンプレートと同じため省略形
  .chat-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__form__text', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'chat-main__form__text__label' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'btn'


